---
import PageLayout from "../layouts/PageLayout.astro";
import { getCollection } from "astro:content";
import Card from "../components/Card.astro";

const allPosts = await getCollection("blog");
const allTags = allPosts.flatMap((post) => post.data.tags);
const tagFilters = [...new Set<string>(allTags)];
---

<PageLayout title="Blog">
  <!-- <section class="flex flex-wrap gap-2">
    {tagFilters.map((tag) => <Tag isCategory content={tag} />)}
  </section> -->

  <section class="flex flex-col flex-wrap justify-center lg:flex-row gap-2">
    {
      allPosts.map((post) => (
        <Card
          image={post.data.image.url}
          imageAlt={post.data.title}
          title={post.data.title}
          tags={post.data.tags}
          description={post.data.description}
          link={`/blog/${post.slug}`}
          linkText="Read"
        />
      ))
    }
  </section>
</PageLayout>
