---
import PageLayout from "../layouts/PageLayout.astro";
import { getCollection } from "astro:content";
import Card from "../components/Card.astro";
import Heading from "../components/Heading.astro";
import Tag from "../components/Tag.astro";

const allPosts = await getCollection("blog");
---

<PageLayout title="Blog">
  <section class="flex flex-col flex-wrap lg:flex-row lg:flex-nowrap gap-2">
    {
      allPosts.map((post) => (
        <a href={`/website/blog/${post.slug}`}>
          <Card image={post.data.image.url}>
            <Heading level={2} title={post.data.title} />
            <div class="flex flex-wrap gap-3">
              {post.data.tags.map((tag) => (
                <Tag isCategory content={tag} />
              ))}
            </div>
            <Tag content={post.data.pubDate.toLocaleDateString()} />
            <p class="m-0">{post.data.description}</p>
          </Card>
        </a>
      ))
    }
  </section>
</PageLayout>
