---
import { Image } from "astro:assets";
import Heading from "./Heading.astro";
import Tag from "./Tag.astro";
import Link from "./Link.astro";
interface Props {
  image?: ImageMetadata | string;
  imageAlt?: string;
  title: string;
  tags: string[];
  description: string;
  link: string;
  linkText: string;
}

const { image, imageAlt, title, tags, description, link, linkText } =
  Astro.props;
---

<div class="flex flex-col lg:flex-row justify-center items-start gap-2.5">
  {
    image &&
      (typeof image === "string" ? (
        <img
          src={image as string}
          class="hover:scale-105 duration-300 block object-cover h-48 w-screen lg:h-60 lg:w-2/5 rounded"
        />
      ) : (
        <Image
          class="hover:scale-105 duration-300 block object-cover h-48 w-screen lg:h-60 lg:w-2/5  rounded"
          src={image as ImageMetadata}
          alt={imageAlt || "Image inside a card component"}
          quality="low"
        />
      ))
  }
  <div
    class="lg:w-3/5 lg:max-w-fit flex flex-col justify-center items-start lg:pl-3 gap-2"
  >
    <Heading level={3}>{title}</Heading>
    <div class="flex flex-wrap gap-2.5">
      {tags.map((tag) => <Tag text={tag} />)}
    </div>
    <p>
      {description}
    </p>
    <div class="self-end">
      <Link href={link} newWindow>{linkText}</Link>
    </div>
  </div>
</div>
